* {
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    overflow: hidden;
    font-family: 'NTR', sans-serif;
}
.container {
    display: grid;
    grid-template-areas: "a c"
                         "b c";
    grid-template-columns: 3fr 2fr;
}
.class-set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#aa {
    grid-area: a;
}
h1 {
    font-family: 'Capriola', sans-serif;
}
#selector-wrapper {
    display: inherit;
    flex-direction: column;
    align-items: center;
}
.selector {
    display: inherit;
    align-items: inherit;
}
input[type='number'] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.left {
    transform: rotate(180deg);
}
.arrow {
    margin: 0 0.25em;
    cursor: pointer;
}
.arrow:hover {

}
.input-number {
    border: 0;
    border-bottom: 1px solid;
    background-color: rgba(255, 255, 255, 0.4);
}
.input-number:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
#shuffle {
    
}
#bb {
    grid-area: b;
}
#bb p {
    height: 1em;
}
#cc {
    grid-area: c;
    height: 100vh;
}
.color-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.25em;
    overflow: auto;
    height: 95vh;
    padding: 0.25em;
}
#color-wrapper-title {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
}
.holder {
    display: flex;
    align-items: center;
    background-color: #eee;
    border-radius: 0.25em;
    padding: 0.25em;
    cursor: pointer;
}
.holder:hover {
    background-color: #aaa;
}
.holder > span {
    pointer-events: none;
}
.color-example {
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
    outline: 1px solid;
}
#dd {
    display: none;
}
input[type='checkbox'] {
    display: none;
}

@media screen and (max-width: 500px) {
    .container {
        grid-template-areas: 'a' 'b' 'c';
        grid-template-rows: 77% 15% 8%;
        grid-template-columns: auto;
        height: 100vh;
        width: 100vw;
    }
    .class-set {
        width: inherit;
    }
    #selector-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 33.33%);
        width: inherit;
        height: 100%;
    }
    .selector {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        height: 100%;
    }
    .left {
        transform: rotate(270deg);
    }
    .right {
        transform: rotate(90deg);
    }
    input[type='range'] {
        transform: rotate(90deg);
    }
    .input-number {
        width: 100%;
    }
    #cc {
        height: unset;
        display: flex;
        flex-direction: column;
    }
    .color-wrapper {
        display: none;
    }
    #color-wrapper-title {
        height: 100%;
        padding: 0.15em;
        justify-content: flex-end;
        opacity: 0.5;
    }
    #color-wrapper-title > p {
        display: none;
    }
    #dd {
        display: flex;
        align-items: center;
        height: 100%;
    }
    label[for='collapse'] {
        border: 1px solid;
        height: 100%;
        display: inherit;
        align-items: center;
        justify-content: space-around;
        width: 3.5em;
        font-size: 1.5em;
        color: #666;
    }
    .collapsed {
        grid-template-areas: 'c';
        grid-template-rows: 100%;
    }
    #dd-content {
        display: inherit;
    }
    #collapse-arrow {
        transition: transform 250ms;
        font-size: 1em;
    }
    .open {
        width: 100vw;
    }
    .w-open {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(135px,1fr));
        height: 92%;
    }
}
