* {
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    overflow: hidden;
    font-family: 'NTR', sans-serif;
}
.container {
    display: grid;
    grid-template-areas: "a c"
                         "a c"
                         "b c";
    grid-template-columns: 3fr 2fr;
}
.class-set {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#aa {
    grid-area: a;
    justify-content: space-around;
}
h1 {
    font-family: 'Capriola', sans-serif;
    font-size: 3em;
}
#selector-wrapper {
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 50%;
}
.selector {
    display: inherit;
    align-items: inherit;
    width: inherit;
}
input[type='number'] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.left {
    transform: rotate(180deg);
}
.arrow {
    margin: 0 0.5em;
    cursor: pointer;
    font-size: 2em;
    opacity: 0.8;
}
.arrow:hover {
    opacity: 1;
}
.id-span {
    font-size: 1.5em;
}
.input-number {
    border: 0;
    width: 3em;
    font-family: inherit;
    height: 1.5em;
    text-align: center;
    border-bottom: 2px solid;
    background-color: rgba(255, 255, 255, 0.4);
    color: inherit;
    border-color: inherit;
}
.input-number:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
#shuffle {
    background-color: inherit;
    opacity: 0.5;
    border-radius: 0.5em;
    border: 1px solid;
    font-size: 1.5em;
    padding: 0.5em 1em;
    cursor: pointer;
}
#shuffle:hover {
    opacity: 1;
}
#bb {
    grid-area: b;
    justify-content: center;
    font-size: 1.5em;
}
#bb p {
    height: 1em;
}
#cc {
    grid-area: c;
    height: 100vh;
}
.color-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.25em;
    overflow: auto;
    height: 95vh;
    padding: 0.25em;
}
#color-wrapper-title {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
}
.holder {
    display: flex;
    align-items: center;
    background-color: #eee;
    border-radius: 0.25em;
    padding: 0.25em;
    cursor: pointer;
}
.holder:hover {
    background-color: #aaa;
}
.holder > span {
    pointer-events: none;
}
.color-example {
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
    outline: 1px solid;
    pointer-events: none;
}
#dd {
    display: none;
}
input[type='checkbox'] {
    display: none;
}

/* Range styles (thanks to range.css)*/

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 10.8px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 11.4px;
    cursor: pointer;
    box-shadow: 0.9px 0.9px 0.6px #000000, 0px 0px 0.9px #0d0d0d;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8.3px;
    border: 0.7px solid rgba(0, 0, 0, 0.5);
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 2px solid #000000;
    height: 33px;
    width: 33px;
    border-radius: 24px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(20, 20, 20, 0.2);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 11.4px;
    cursor: pointer;
    box-shadow: 0.9px 0.9px 0.6px #000000, 0px 0px 0.9px #0d0d0d;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8.3px;
    border: 0.7px solid rgba(0, 0, 0, 0.5);
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 2px solid #000000;
    height: 33px;
    width: 33px;
    border-radius: 24px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 11.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.2);
    border: 0.7px solid rgba(0, 0, 0, 0.5);
    border-radius: 16.6px;
    box-shadow: 0.9px 0.9px 0.6px #000000, 0px 0px 0.9px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: rgba(0, 0, 0, 0.2);
    border: 0.7px solid rgba(0, 0, 0, 0.5);
    border-radius: 16.6px;
    box-shadow: 0.9px 0.9px 0.6px #000000, 0px 0px 0.9px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 2px solid #000000;
    height: 33px;
    width: 33px;
    border-radius: 24px;
    background: #ffffff;
    cursor: pointer;
    height: 11.4px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.2);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: rgba(20, 20, 20, 0.2);
  }
  
@media screen and (max-width: 850px) {
    .container {
        grid-template-areas: 'a c' 'b c';
        grid-template-columns: 90% 10%;
    }
    .collapsed {
        grid-template-areas: 'c c';
        grid-template-columns: 100vw;
    }
    #cc {
        display: grid;
    }
    .color-wrapper {
        display: none;
    }
    #color-wrapper-title {
        height: 100%;
        align-items: flex-start;
        width: 100%;
        padding: 0.15em;
    }
    #color-wrapper-title > p {
        display: none;
    }
    label[for='collapse'] {
        border: 1px solid;
        width: 100%;
        display: inherit;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 1.5em;
    }
    .open {
        grid-template-columns: 90% 10%;
    }
    .w-open {
        display: grid;
        height: 100%;
    }
    #dd {
        display: flex;
        width: 100%;
    }
    #dd-content {
        order: 1;
    }
    #collapse-arrow {
        
    }
}

@media screen and (max-width: 500px) {
    .container {
        grid-template-areas: 'a' 'b' 'c';
        grid-template-rows: 77% 15% 8%;
        grid-template-columns: auto;
        height: 100vh;
        width: 100vw;
    }
    .class-set {
        width: inherit;
    }
    #selector-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 33.33%);
        width: 100%;
        height: 100%;
        margin-bottom: 0.5em;
        grid-template-rows: 1fr;
    }
    .selector {
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        height: 100%;
    }
    .left {
        transform: rotate(270deg);
    }
    .right {
        transform: rotate(90deg);
    }
    input[type='range'] {
        transform: rotate(90deg);
    }
    #bb {
        justify-content: flex-start;
        font-size: 1.25em;
    }
    #cc {
        height: unset;
        flex-direction: column;
        display: flex;
    }
    #color-wrapper-title {
        justify-content: flex-end;
        background-color: rgba(255, 255, 255, 0.5);
    }
    #dd {
        align-items: center;
        height: 100%;
        width: unset;
    }
    label[for='collapse'] {
        height: 100%;
        width: 3.5em;
        flex-direction: row;
    }
    .collapsed {
        grid-template-areas: 'c';
        grid-template-rows: 100%;
    }
    #dd-content {
        display: inherit;
        order: 0;
    }
    #collapse-arrow {
        transition: transform 250ms;
        font-size: 1em;
    }
    .open {
        width: 100vw;
    }
    .w-open {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(135px,1fr));
        height: 92%;
    }
    input[type='range'] {
        margin: 6em;
        width: 130%;
    }
}
